@font-face {
    font-family: 'spleen';
    src: url("../fonts/spleen-32x64.otf") format("opentype");
}

body {
    //background: #0d0f14;
    //color: #14151b;
    background: #191b22;
    background-image: 
        linear-gradient(45deg, #14151b 25%, transparent 25%),
        linear-gradient(-45deg, #14151b 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #14151b 75%),
        linear-gradient(-45deg, transparent 75%, #14151b 75%);
    background-size: 100px 100px;
    background-position: 0 0, 0 50px, 50px -50px, -50px 0px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

img.logo {
    max-width: 95%;
    width: 810px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.95));
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: 
    linear-gradient(to bottom, #14151b 0%, transparent 15%),
    linear-gradient(to right, #14151b 0%, transparent 10%, transparent 90%, #14151b 100%),
    linear-gradient(to top, #14151b 0%, transparent 15%);
  z-index: 1;
}
